@charset "utf-8";
*{margin:0;padding:0;list-style-type:none}
body,li,ul{margin:0; padding:0; }
#head_tu{
	background-image:url(image/bg_01.jpg);
	height:165px;
	width:auto;
	
}
.head_tu_kuang{
	height:80px;
	width:1200px;
	margin:0 auto 0 auto;
}
.head_tu_hang{
border:1px solid;
	height:80px;
	width:1200px;
	
}
.head_tu_logo{
	border:1px solid;
	width:268px;
	height:55px;
	margin-top:25px;
	margin-left:25px;
	float:left;
}
.head_tu_sousuo{
	margin-top:25px;
	margin-left:25px;
	width:250px;
	height:55px;
	float:left;
	
	 
}
.head_tu_sousuo1{
		margin-top:7.5px;
		width:250px;
		height:35px;
		border:1px solid #330066;
	 
}
.head_tu_sousuo2{
		
		height:38px;
		width:63px;
		float:left;
		margin-top:32px
		}
		
		
		
		
		
.head_xian{
		margin-top:10px;
		width:1200px;
		height:1px;
		background-color:#CCCCCC;/*rgba(75,0,130,0.5);*/
	
		
}


.head_caidan{
		margin-top:21px;
		width:auto;
		height:60px;
		line-height:60px;
		position:relative;
		font-size:18px;
	    color:#FFFFFF;
	    font-size:18px;
	    font-family:"黑体";
		
}	
.head_caidan a:link{
		color:#FFFFFF;
		text-decoration:none;
		font-family: "黑体";
		}
.head_caidan a:visited{
		color:#FFFFFF;
		text-decoration:none; /*去掉超级链接下面的直线*/
		font-family:"黑体";
		}
.head_caidan a:hover{
		color:#FFFFFF;
		font-weight:bold;
		text-decoration:none;
		font-family: "黑体";
		}
.head_caidan a:active{
		color: #FFFFFF;
		text-decoration:none;
		font-family:"黑体";
		}
/*弹出菜单的设置*/
.head_caidan ul{
		list-style:none; /*去掉那个无序列表前面的符号8*/
		}
.head_caidan ul li{float:left; 
			line-height:50px; 
			text-align:center;
			position:relative;
			color:#FFFFFF;
			       
			}
.head_caidan ul li a{
	text-decoration:none;
	color:#FFFFFF;
	display:block;
	padding:0px 15.4px;   
	
	}

		
.head_caidan ul li a:hover{
		color:#FFCC33;
		font-family:"黑体";
		
		}

		
.head_caidan ul li ul{
           position:absolute;
		   display:none;
		   }
.head_caidan ul li ul li{
	float:none;
	line-height:30px;
	text-align:left;
	width:100px;     /*弹出的那个下拉菜单的宽度*/
	
	
	}
.head_caidan ul li ul li a{
	width:100%;
}
.head_caidan ul li ul li a:link{
    background-color:rgba(75,0,130,0.7);   
	font-size:16px;
	color:#FFFFFF;
	font-family:"黑体";
	
	}
.head_caidan ul li ul li a:visited{
		color:#FFFFFF;
		background-color:rgba(75,0,130,0.7); /*控制弹出来的菜单颜色同时也设置了透明效果，这里是70%不透明*/    
	}
.head_caidan ul li ul li a:hover{
		
	background-color:rgba(75,0,130,0.8);    /*弹出菜单的选项，当鼠标放上的颜色*/
	
	}

.head_caidan ul li:hover ul{
		display:block;/*设置弹出效果*/
}




#content_beijing{
		widith:auto;
		height:800px;
		background-image:url(image/bg_44jpg.jpg);
		
}
#content_kuang{

		padding-top:25px;
		width:1200px;
		height:800px;
		margin:0 auto 0 auto;
		
		}
#content_left_xiaokuang{
		float:left;
		width:650px;
		height:650px;
		
		}
.content_left_tu{
		width:650px;
		height:400px;
		
		}
a,img{border:0;}
body{font:13px/20px "Hiragino Sans GB", "Microsoft Yahei", "SimHei";background:#ad0833}
a:link, a:visited{outline:none;text-decoration:none;color:#7f7f7f;}
a:hover, a:focus{text-decoration:none;color:#000;}
a img, :link img, :visited img{border:0;}
/* �ֲ� */
.content_left_tu_banner{position:relative;overflow:auto;width:750px;margin:0 auto;}
.content_left_tu_banner ul li{float:left;}
.content_left_tu_banner .arrows{display:none;}
.content_left_tu_banner:hover .arrows,
.content_left_tu_banner.hover .arrows{display:block;}
.content_left_tu_banner .arrows{position:absolute;z-index:20;}
.content_left_tu_banner .arrows .prev,
.content_left_tu_banner .arrows .next{position:absolute;width:76px;height:77px;font:0/0 a;color:transparent;cursor:pointer;}
.content_left_tu_banner .arrows .prev{left:30px;background:url(img/slide_arrow_left.png) no-repeat;}
.content_left_tu_banner .arrows .next{left:750px;background:url(img/slide_arrow_right.png) no-repeat;}
.content_left_tu_banner ul li{height:660px;}
.content_left_tu_banner .arrows{top:270px;}
.dots{position:absolute;width:750px;height:60px;top:400px;text-align:center;font-size:15px;background:#fff;}
.dot{float:left;line-height:56px;width:116px;border-bottom:2px solid;border-top:2px solid #e8e8e8;cursor:pointer;}
.dot1{color:#e33189;border-bottom-color:#f3bfd9;}
.dot1.active{background:#f3bfd9;}
.dot2{color:#24adac;border-bottom-color:#a4f7f6;}
.dot2.active{background:#a4f7f6;}
.dot3{color:#dc6f23;border-bottom-color:#edcfbb;}
.dot3.active{background:#edcfbb;}
.dot4{color:#da4e4e;border-bottom-color:#f0b5b5;}
.dot4.active{background:#f0b5b5;}
.dot5{color:#8344c3;border-bottom-color:#c0c8f4;}
.dot5.active{background:#c0c8f4;}
.dot6{width:170px;color:#1774e2;border-bottom-color:#b8e6fb;}
.dot6.active{background:#b8e6fb;}
/*����ͼƬ�������*/
.content_left_tubanner_zi{
		text-align:center;
		font-family:"黑体";
		font-size:16px;
		font-weight:bold;
		}

#content_right_kuang{
float:right;

height:800px;
		width:550px;
}		
.content_right_kuang_biaoti{
		width:250px;
		height:35px;
	background-color:rgba(75,0,130,0.7);
	margin:0 auto 0 auto;
	overflow:hidden;

	}
.content_right_kuang_biaoti_left{
		padding-top:14.2px;
		padding-left:10px;
		width:120px;
		height:20px;
		font-family:"黑体";
		overflow:hidden;
		font-size:18px;
		float:left;
		}
.content_right_kuang_biaoti_left a:link{
		color: #FFFFFF;
		
		}
.content_right_kuang_biaoti_left a:hover{
		background-color:#FFFFFF;
		}
.content_right_kuang_biaoti_right{
		padding-top:14.2px;
		width:120px;
		height:20px;
		font-family:"黑体";
		font-size:18px;
		float:right;
		
		}
.content_right_kuang_biaoti_right a:link{
		color: #FFFFFF;
		
		}
.content_right_kuang_biaoti_right a:hover{
		background-color:#FFFFFF;
		}
.content_right_xinwen1{
		height:500px;
		width:400px;
		}
.tmall-ad{ left:60px; position:relative; height: 800px; width:400px; overflow: hidden; }.tmall-ad .fCs-con li{ width:200px; height:420px; }.tmall-ad .fCs-nav{ width:200px; height: 120px; position: absolute; top: 460px; left: 0px; }.tmall-ad .fCs-nav li{ font-weight: bold; padding-left: 20px; padding-right: 20px; width:140px; height: 30px; line-height: 30px; opacity: .95; filter: alpha(opacity=95); position: absolute; left: 0; white-space: nowrap; cursor: pointer;}.tmall-ad .fCs-nav li a{ display: block; color: white; text-decoration: none; overflow: hidden; width: 140px; text-overflow: ellipsis; white-space: nowrap; }.tmall-ad .fCs-nav li s{ display:none; background:url(../images/icons.png) -107px -20px; width: 5px; height: 9px; position: absolute; right: 15px; top: 10px; overflow: hidden;}.tmall-ad .fCs-nav .fCs-nav1 { background-color: #994c73; top: 30px; }.tmall-ad .fCs-nav .fCs-nav2 { background-color: #f66; top: 60px; }.tmall-ad .fCs-nav .fCs-nav3 { background-color: #2e8799; top: 90px; }.tmall-ad .fCs-nav li.on s{ display:block; }		